:root{
    --bg: #dcdada;
    --text: #1b1b1b;
    --light-text: #f5f5f5;
    --default-text: 2rem;
}
     
@font-face {
    font-family: 'sans-serif';
    src: url('../fonts/nm5.woff2') format('woff2');
}

@font-face {
    font-family: 'sans-serif light';
    src: url('../fonts/nm5.woff2') format('woff2');
}

@font-face {
  font-family: 'yass';
  src: url('../fonts/uu.woff2') format('woff2');
}


@font-face {
    font-family: 'sans-serif lighter';
    src: url('../fonts/nm4.woff2') format('woff2');
}

@font-face {
    font-family: 'serif';
    src: url('../fonts/tn5.woff2') format('woff2');
}


html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
  


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

  .tint{
    opacity: 0.05;
    background: #514e00;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    z-index: 999999999999;
  }
            
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }

  .fade-in{
    opacity: 1;
    animation: fadeIn 0s ease forwards;
  }
  
  
  @keyframes fadeIn {
    0% {
        opacity: 1;
    
    }
  
  
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }
  

html {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    background-color: var(--bg);
    color: var(--text);
    font-size: calc(100vw / 1512 * 10);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


body {
  font-size: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh; 
  overscroll-behavior: contain;  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

}
        
#ios-scrolling {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  behavior: smooth;
  overflow-y: auto;
}

::-webkit-scrollbar{
    width: 0;
  }
      

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.bg {
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../images/noise.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: 1;
    visibility: visible;
    z-index: 10;
    pointer-events: none;
  }


  .turn-dark{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 9;
    background: #1b1b1b;
}

  .first{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .big-name{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    font-size: 35rem;
  }

  .big-name p{
    text-align: right;
    line-height: 90%;
  }

  .profile-pic{
    position: absolute;
    height: 37rem;
    width: 35rem;

    bottom: 2rem;
    left: 2rem;
  }

  .nav{
    position: absolute;
    height: 10rem;
    top: 0;
    width: calc(100vw - 8rem);
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item{
    position: relative;
    cursor: pointer;
  }

  .nav-left{
    position: absolute;
    left: 0;
  }

  .nav-right{
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .nav-center{
    position: absolute;
    gap: 1.2rem;
    display: flex;
  }

  .about-mini{
    position: absolute;
    left: 63rem;
    font-size: 7rem;
    top: calc(50% - 5rem);
    transform: translateY(-50%);
    font-family: 'yass';
  }

  .about-mini p{
    width: 85rem;
  }

  sup{
    font-family: 'serif';
    font-size: 1.2rem;
  }

  .bottom-name{
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    font-size: 30rem;
    line-height: 70%;
    width: 100vw;
  }

  .tag{
    position: absolute;
    top: -22rem;
    left: 10rem;
    background: var(--bg);
    height: 25rem;
    width: 25rem;
    border: 1px dashed #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .tag-display{
    position: absolute;
    top: 1.5rem;
    width: calc(100% - 3rem);
    height: 17rem;
    border: 1px dashed #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tag-display img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  .lol{
    font-family: 'serif';
  }

  .tag-text{
    font-size: 1.5rem;
    position: absolute;
    bottom: 0rem;
    left: 1.5rem;
    line-height: normal;
    height: 6.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .random-circle{
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 1rem;
    width: 1rem;
    background: var(--text);
    border-radius: 50%;
  }

  .mini-above{
    display: flex;
    gap: 0.7rem;
    align-items: center;
  }

  .tiny-dash{
    height: 1px;
    width: 2rem;
    background: var(--text);
  }
  

  .bottom-contra{
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }

  .contra-hint{
    width: 35rem;
  }




.bottom-line{
  position: absolute;
  width: 100%;
  bottom: -0.5rem;

  height: 1px;
  background: var(--text);
}


.bottom-line1 {
  width: 100%;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bottom-line2 {
  width: 0%;
  transition: width 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}



.bottom-line3 {
  width: 80%;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-item:hover .bottom-line3 {
  transform: scaleX(1);
}

.nav-item:not(:hover) .bottom-line3 {
  transform-origin: right;
}




.nav-right:hover .bottom-line1 {
  transform: scaleX(0);
}

.nav-right:hover .bottom-line2 {
  width: 100%;
}


.nav-right:not(:hover) .bottom-line1 {
  transform: scaleX(1);
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; 
}

.nav-right:not(:hover) .bottom-line2 {
  width: 0%;
  transition: width 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contra-action{
  width: 23rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.contra-action:hover .bottom-line1 {
  transform: scaleX(0);
}

.contra-action:hover .bottom-line2 {
  width: 100%;
}


.contra-action:not(:hover) .bottom-line1 {
  transform: scaleX(1);
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; 
}

.contra-action:not(:hover) .bottom-line2 {
  width: 0%;
  transition: width 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.contra-arrow {
  height: 3rem;
  width: 1.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.contra-arrow p {
  font-family: 'yass';
  text-align: center;
  position: absolute;
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) ;
  white-space: nowrap;
}


.second-arrow{
  padding-right: 2rem;
}

.contra-arrow p:nth-child(2) {
  transform: translateX(-100%);
}

.contra-action:hover .contra-arrow p:nth-child(1) {
  transform: translateX(150%);
}

.contra-action:hover .contra-arrow p:nth-child(2) {
  transform: translateX(30%);
}

.featured-boss{
  height: 35rem;
  width: 100vw;
  background: var(--bg);
  display: flex;
  align-items: center;
  border-top: 1px dashed #333;
}


.featured{
  position: absolute;
  left: 4rem;
  font-size: 17rem;
  bottom: 2rem;
}

.featured span{
  font-family: 'serif';
  font-size: 13.5rem;
}


.featured sup{
  font-size: 3.2rem;
}

.small-extra-text{
  height: 20rem;
  width: 100vw;
  background: var(--bg);
  display: flex;
  align-items: center;
  position: relative;
}

.small-extra-text2{
  height: 30rem;
  width: 100vw;
  background: var(--bg);
  display: flex;
  align-items: center;
  position: relative;
}

.the-extra-text{
  position: absolute;
  right: 4rem;
  font-size: 1.7rem;
  width: 30rem;
}

.the-extra-text p{
  text-align: justify;
}

.box-boss{
  height: 78rem;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box{
  height: 100%;
  width: calc(100% - 8rem);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #333;
  background: #cfcfcf;
  cursor: pointer;
}


.dot{
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background: var(--text);
  border-radius: 50%;
}


.box-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35rem;
  width: fit-content;
  overflow: hidden;
  border: 1px dashed #333;
}

.box-inner2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25rem;
  width: fit-content;
  overflow: hidden;
  border: 1px dashed #333;
}




.second-version{
  height: 10rem;
  width: 100vw;
  background: var(--bg);
  position: relative;
}

.two{
  position: absolute;
  left: 4rem;
}

.whats-used{
  position: absolute;
  left: 4rem;
  bottom: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.box-description{
  height: 40rem;
  width: 100vw;
  position: relative;
}

.desc-at-left{
  position: absolute;
  top: 12rem;
  left: 4rem;
}

.desc-at-right{
  position: absolute;
  top: 12rem;
  right: 4rem;
}

.desc-at-middle{
  position: absolute;
  top: 12rem;
  left: 55%;
  transform: translateX(-50%);
  width: 40rem;
}

.desc-at-middle p{
  line-height: 150%;
}

.box-spacer{
  height: 20rem;
}

.parallaxy{
  height: 85rem;
  width: calc(100vw - 8rem);
  margin-left: 4rem;
  overflow: hidden;
  position: relative;
  filter: grayscale();
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallaxy img{
  height: 128%;
  position: absolute;
  top: -28%;
  opacity: 0.8;
}

.boxy{
  height: 30rem;
  width: 40rem;
  background: var(--bg);
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border: 1px dashed #333;
}



.boxy .intro p{
  font-size: 6rem;
}


.boxy .intro span{
  font-family: 'serif';
  font-size: 9.5rem;
}

.contact-stuff{
  height: 6rem;
  width: calc(100% - 8rem);
  display: flex;
  align-items: center;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
}

.contact-bar {
  position: absolute;
  left: 4rem;
}

.contact-bar input{
  width: 100%;
}

input {
  all: unset;
  box-sizing: border-box; 
  appearance: none;
  font-size: 1.5rem;
}

input::placeholder {
  color: var(--text);
  opacity: 0.7; 
  font-size: 1.5rem;
}

.bottom-footer{
  height: 110vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.botom-name{
  position: absolute;
  bottom: 1rem;
  left: 4rem;
  font-size: 30rem;
  line-height: 70%;
  width: 100vw;
}

.botom-name p{
  line-height: 70%;
}

.link p{
  font-size: 7rem;
  font-family: 'yass';
}

.social-media{
  position: absolute;
  left: 100rem;
  top: calc(20rem);
}


.footer-pages{
  position: absolute;
  left: 60rem;
  top: calc(20rem);
}

.bottom-lists{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.link{
  position: relative;
  width: fit-content;
  cursor: pointer;
}


.bottom-line4 {
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  bottom: -0.3rem;
  height: 3px;
  transform-origin: left;
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link:hover .bottom-line4 {
  transform: scaleX(1);
}

.link:not(:hover) .bottom-line4 {
  transform-origin: right;
}

.back-to-top{
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 2.5rem;
  left: 60rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.date-of{
  position: absolute;
  display: flex;
  gap: 0.7rem;
  bottom: 2.5rem;
  left: 100rem;
  font-size: 1.5rem;
}

.tag-text2{
  gap: 0.7rem;
}

.t-d2{
  filter: grayscale(20%);
}

.back-to-top-arrow {
  height: 1.5rem;
  width: 3rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.back-to-top-arrow p {
  font-family: 'yass';
  text-align: center;
  position: absolute;
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) ;
  white-space: nowrap;
}


.third-arrow{
  padding-top: 1.2rem;
}

.back-to-top-arrow p:nth-child(2) {
  transform: translateY(100%);
}

.back-to-top:hover .back-to-top-arrow p:nth-child(1) {
  transform: translateY(-150%);
}

.back-to-top:hover .back-to-top-arrow p:nth-child(2) {
  transform: translateY(-20%);
}

.desc-at-right{
  font-family: 'serif';
}

/* case.html */

.page-top{
  height: 54rem;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.topic{
  font-size: 15rem;
  position: absolute;
  left: 4rem;
  bottom: 12rem;
}

.display{
  height: 70rem;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.inside-display{
  position: absolute;
  right: 4rem;
  height: 100%;
  width: 100rem;
  background: #cfcfcf;
  border: 1px dashed #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask{
  height: fit-content;
}

.topic-number{
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  overflow: hidden;
  font-family: 'serif';
}

 
.break{
  height: 24rem;
  width: calc(100vw - 8rem);
  margin-left: 4rem;
  background: #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  border: 1px dashed #333;
}

.break p{
  position: absolute;
  left: calc(43rem + 4rem);
}

.exact-spacer{
  height: 15rem;
  position: relative;
}

.major-text{
  height: 35rem;
  width: 100vw;
  position: relative;
  display: flex;
  font-size: 7rem;
  font-family: 'yass';
  overflow: hidden;
}


.inside-major-text{
  height: fit-content;
  width: 100rem;
  position: absolute;
  right: 4rem;
  top: 0;
}

.title-right{
  height: 13rem;
  width: 100vw;
  position: relative;
}

.inside-title-right{
  position: absolute;
  left: calc(43rem + 4rem);
  font-size: 7rem;
}

.brief{
  height: 23rem;
  width: 100vw;
  position: relative;
}

.inside-brief{
  position: absolute;
  left: calc(43rem + 4rem);
  width: 60rem;
}

.inside-brief p{
  text-align: justify;
}
